{% extends 'base.html.twig' %}

{% block title %}Welcome page Immoform{% endblock %}

{% block body %}
<h1>Bienvenue sur Immoform</h1>
<p>Votre plateforme de gestion immobilière</p>
<div class="container">
    <div class="row">
<h1>Soummettez vos demande de formation et nous vous contacterons dans les plus brefs délais</h1>
        <p>Bonjour {{ userName }}</p> 
        </div>
        </div>
    </div>
{% endblock %}
